{% extends 'mainapp/base.html' %}s
{% block title %}
    Изменить статус
{% endblock %}
{% block content %}
    <main>
        <h2 class="display-6 text-center mb-4">Изменить статус для <a href="">{{ object }}</a></h2>
        <div class="form">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="template1" value="{{ object.id }}">
                <div class="row col-md-8">
                    <h2 class="fw-bold">Статус</h2>
                    <div class="col-md-3">
                        <input type="radio" name="template1_status" value="True"
                               {% if object.template1_status == True %}checked{% endif %} required>
                        <label class="col-form-label-lg" style="color: green">Одобрить</label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="template1_status" value="False"
                               {% if object.template1_status == False %}checked{% endif %} required>
                        <label class="col-form-label-lg " style="color: red">Отказать</label>
                    </div>

                </div>
                <input type="submit" class="btn btn-primary" name="change_status">

            </form>
        </div>
        <hr>
        <div class="form">
            <form method="post">
            <input type="hidden" name="template1" value="{{ object.id }}">
                {% csrf_token %}
                <h2 class="fw-bold">Привязать клиент(ы)</h2>
                {% for client in clients %}
                    <div class="form-group">
                        <h3>{{ client.first_name }} {{ client.last_name }}</h3>
                        <label>Выбрать</label>
                        <input type="checkbox" class="checkbox" name="clients" value="{{ client.id }}" {% if object in client.client_templates1.all  %}checked{% endif %}>
                    </div>
                    <br>
                {% endfor %}
                <input type="submit" class="btn btn-primary" name="bind_client">
            </form>
        </div>
    </main>

{% endblock %}