{% extends 'mainapp/base.html' %}
{% block title %}
    Офис меню
{% endblock %}
{% block content %}
    <main>
        <h2 class="display-6 text-center mb-4">Офис меню</h2>
        <a href="{% url 'officemenucontacts_list' %}" class="btn btn-primary">Посмотреть вопросы</a>
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Шаблон</th>
                    <th scope="col">Инспектор</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for template in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="/media/templates1/template1_{{ template.id }}.docx"  download="">Скачать шаблон</a></td>
                        <td>
                            {{ template.inspector }}
                        </td>
                        <td>
                            <a href="{% url 'officemenutemplate_detail' template.id %}">Изменить статус</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
{% endblock %}